button {
    margin-left: 10px;
    background-color: brown;
    border-style: none;
}

.inputForm {
    width: fit-content;
    padding: 5px 2px 5px 2px;
    margin-top: 20px;
    margin-left: 40%;
    background: tomato;
    border: solid 2px black;
}

.itemsList {
    width: auto;
    background: slateblue;
}